* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}



nav {
    background-color: #343a40;
    color: white;
    overflow: auto;
}



nav li {
    list-style: none;
    display: inline-block;
    padding: 1.3rem 1.5rem ;
    cursor: pointer;
    
}

.menu-hamburguer {
    position: absolute;
    top: 25px;
    right: 28px;
    height: 2px;
    width: 24px;
    background: #d0d0d0;
    cursor: pointer;
}



.menu-hamburguer::after , .menu-hamburguer::before{
    position: absolute;
    content: '';
    height: 2px;
    width: 24px;
    display: block;
    background: #d0d0d0
} 

.menu-hamburguer::after {
    top: 8px;
}

.menu-hamburguer::before{
    top: -8px;
}

.nav-title {
    float: left;
    padding: 1rem 2.5rem;
    font-size: 1.5rem;
    font-weight: 600;
    cursor: pointer;
}

.nav-menu {
    float: right;
}

.principal{
    background-image: url("../assets/img/header.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    color: white;
}

.container-text :first-child {
    font-size: 6rem;
    
}

.container-text :last-child {
    font-size: 3.5rem;
}

.container-text {
    padding: 10rem 0;
    text-align: center;
    background: rgba(0, 0, 0, 0.6);
}

img {
    border-radius: 50%;
    width: 100%;
}



/* Creando grid*/

.container {
    margin: 0 auto;
    width: 100%;
    
}

.row::after{ /* Limpia el float para los elementos de abajo*/
    content: '';
    display: table;
    clear: both;
    margin: 2px;
}



[class*='col-'] {
    float: left;
    padding: 15px;
  }

  
  .col-xs-1 {
    width: 8.33333333%;
  }
  .col-xs-2 {
    width: 16.66666667%;
  }
  .col-xs-3 {
    width: 25%;
  }
  .col-xs-4 {
    width: 33.33333333%;
  }
  .col-xs-5 {
    width: 41.66666667%;
  }
  .col-xs-6 {
    width: 50%;
  }
  .col-xs-7 {
    width: 58.33333333%;
  }
  .col-xs-8 {
    width: 66.66666667%;
  }
  .col-xs-9 {
    width: 75%;
  }
  .col-xs-10 {
    width: 83.33333333%;
  }
  .col-xs-11 {
    width: 91.66666667%;
  }
  .col-xs-12 {
    width: 100%;
  }

  .col-xs-offset-1 {
    margin-left: 8.33333333%; /*margin en columna para las imagenes*/
  }
  .nav-menu{
    display: none;
    
}

 

  [class*='col-']{
   padding: 2rem 3.5rem; 
   text-align: justify;
   font-size: 1rem;
   line-height: 1.5;
   
}

  /*para tablet*/
  @media (min-width: 768px) {
    .row {
        margin: 0 ;
        
    }

    figure {
        align-self: center;
        position: relative;
        top: 0rem;
    }

    .nav-mobile{
        display:block ;
    }

    .nav-menu{
        display: none;
    }


    .col-sm-1 {
        width: 8.33333333%;
      }
      .col-sm-2 {
        width: 16.66666667%;
      }
      .col-sm-3 {
        width: 25%;
      }
      .col-sm-4 {
        width: 33.33333333%;
      }
      .col-sm-5 {
        width: 41.66666667%;
      }
      .col-sm-6 {
        width: 50%;
      }
      .col-sm-7 {
        width: 58.33333333%;
      }
      .col-sm-8 {
        width: 66.66666667%;
      }
      .col-sm-9 {
        width: 75%;
      }
      .col-sm-10 {
        width: 83.33333333%;
      }
      .col-sm-11 {
        width: 91.66666667%;
      }
      .col-sm-12 {
        width: 100%;
      }
  }

  /*para desktop*/
  @media (min-width: 992px) {
    .row {
        margin: 0 10rem;
        
    }

    .nav-mobile{
        display: none;
    }

    .nav-menu {
        display: block;
    }

    figure {
        
        position: relative;
        top: 1rem;
    }
    .text-section{
        padding: 3rem 4.5rem;
        display: inline-block;
        position: relative;
        top: 0rem;
    }
   
    .col-md-1 {
        width: 8.33333333%;
      }
      .col-md-2 {
        width: 16.66666667%;
      }
      .col-md-3 {
        width: 25%;
      }
      .col-md-4 {
        width: 33.33333333%;
      }
      .col-md-5 {
        width: 41.66666667%;
      }
      .col-md-6 {
        width: 50%;
      }
      .col-md-7 {
        width: 58.33333333%;
      }
      .col-md-8 {
        width: 66.66666667%;
      }
      .col-md-9 {
        width: 75%;
      }
      .col-md-10 {
        width: 83.33333333%;
      }
      .col-md-11 {
        width: 91.66666667%;
      }
      .col-md-12 {
        width: 100%;
      }
  
  }

 

.text-section h2 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}

footer {
    background-color: #343a40;
    color: white;
    text-align: center;
    padding: 1rem;
}